@using WebApplication1.Models
@model CashCardParameters

@{
    Layout = null;
    CashCard[] cashCards = ViewBag.cashCards;
}

@using(Html.BeginForm("Search","CashCards",FormMethod.Post))
{
    <table>
        <tbody>
            <tr><td>CustomerId</td></tr>

          <tr><td>@Html.TextBoxFor(o=>o.CustomerId)</td></tr>

        </tbody>
    </table>

    <input type="submit" value="Search" />
}